development:
  DATABASE_URL: ''
  DB_NAME: 'position_watcher_dev'
  DB_USER: 'postgres'
  DB_PASSWORD: 'postgres'
  TELEGRAM_BOT_TOKEN: ''
test:
  DATABASE_URL: ''
  DB_NAME: 'position_watcher_dev'
  DB_USER: 'postgres'
  DB_PASSWORD: 'postgres'
  TELEGRAM_BOT_TOKEN: ''
production:
  DATABASE_URL: ''
  DB_NAME: 'position_watcher_dev'
  DB_USER: 'postgres'
  DB_PASSWORD: 'postgres'
  TELEGRAM_BOT_TOKEN: ''
